body {
    font-family: 'Special Elite', cursive;
    background: #1ecff7;
}
.header_div {
    background: white;
    color: #0339ff;
}
.header_div img {
    width: 100px;
}
.main_div {
    background: #87abff;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label {
    background: #00257a;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
    color: white;
}
#camera {
    border: 2px solid ridge white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}
.main_div button {
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}
.footer_div {
    margin-bottom: 50px;
}
.footer_div h4 {
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.footer_div img {
    width: 70px;
}
.copyright_footer {
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: orange;
    line-height: 3;
    text-align: center;
}